## Import

In [66]:
import pandas as pd
import glob

In [67]:
files = glob.glob("../csv_files/*")

# print(glob.glob("./*"))
print(files)

['../csv_files\\combine', '../csv_files\\PRJEB3250.txt', '../csv_files\\PRJNA834026.txt', '../csv_files\\single_PRJEB3250.csv', '../csv_files\\single_PRJNA834026.csv']

In [68]:
df = pd.read_csv(files[1], sep="\t", skiprows = 1)

In [69]:
df.head(n=3)

,#OTU ID,sample-1,sample-40,sample-41,sample-4442,sample-43,sample-44,sample-45,sample-46,sample-47,...,sample-8,sample-80,sample-81,sample-94,sample-95,sample-96,sample-97,sample-98,sample-99,taxonomy
0,4bce09e6a053c7e157359041a1553572,0,0,0,0,0,0,0,0,0,...,0,6,0,0,0,0,0,0,0,d__Bacteria; p__Elusimicrobiota; c__Elusimicro...
1,1ca8a9d4429d3e9c3d7fe6d2cf20d5a5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,d__Bacteria; p__Fusobacteriota; c__Fusobacteri...
2,405577aafdc6c17182fd16261c12ec46,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,d__Bacteria; p__Fusobacteriota; c__Fusobacteri...

## split taxonomy by ;

In [70]:
split_taxonomy = ["Domain", "Phylum", "Class","Order" ,"Family", "Genus","Species" ]
df[split_taxonomy] = df["taxonomy"].str.split(";", expand=True)

In [71]:
# remove taxnonmy column
df.drop("taxonomy", axis=1, inplace=True)

In [72]:
df.head()

,#OTU ID,sample-1,sample-40,sample-41,sample-4442,sample-43,sample-44,sample-45,sample-46,sample-47,...,sample-97,sample-98,sample-99,Domain,Phylum,Class,Order,Family,Genus,Species
0,4bce09e6a053c7e157359041a1553572,0,0,0,0,0,0,0,0,0,...,0,0,0,d__Bacteria,p__Elusimicrobiota,c__Elusimicrobia,o__Lineage_IV,f__Lineage_IV,g__Lineage_IV,s__uncultured_bacterium
1,1ca8a9d4429d3e9c3d7fe6d2cf20d5a5,0,0,0,0,0,0,0,0,0,...,0,0,0,d__Bacteria,p__Fusobacteriota,c__Fusobacteriia,o__Fusobacteriales,f__Leptotrichiaceae,g__Chloroplast,s__Leptotrichia_shahii
2,405577aafdc6c17182fd16261c12ec46,0,0,0,0,0,0,0,0,0,...,0,0,0,d__Bacteria,p__Fusobacteriota,c__Fusobacteriia,o__Fusobacteriales,f__Leptotrichiaceae,g__Leptotrichia,s__Leptotrichia_sp.
3,6e4faa85c839fbf0cf3c8890b6ed7ab6,0,0,0,0,0,0,0,0,0,...,0,0,0,d__Bacteria,p__Fusobacteriota,c__Fusobacteriia,o__Fusobacteriales,f__Leptotrichiaceae,g__Leptotrichia,None
4,dc517c15e03f5fff83dfc62bba73a838,0,0,0,0,0,0,0,0,0,...,0,0,0,d__Bacteria,p__Fusobacteriota,c__Fusobacteriia,o__Fusobacteriales,f__Leptotrichiaceae,g__Leptotrichia,None

In [73]:
# remove d__, p__, etc.
for column in split_taxonomy:
    df[column] = (df[column].str.split("__", expand=True)[1])



# print(df["domain"].str.split("__")[0])

In [74]:
split_taxonomy =  [taxonomy for taxonomy in split_taxonomy if taxonomy != "Genus"]
df = df[(df.Domain.isin(["Bacteria"]))]
df = df[ ~df["Genus"].isin(["Mitochondria", "Chloroplast"]) ]
df = df.dropna(subset=["Genus"])

df.drop(split_taxonomy, axis = 1, inplace=True)

In [75]:
# drop all taxnonmy columns but genus
df.head()

,#OTU ID,sample-1,sample-40,sample-41,sample-4442,sample-43,sample-44,sample-45,sample-46,sample-47,...,sample-8,sample-80,sample-81,sample-94,sample-95,sample-96,sample-97,sample-98,sample-99,Genus
0,4bce09e6a053c7e157359041a1553572,0,0,0,0,0,0,0,0,0,...,0,6,0,0,0,0,0,0,0,Lineage_IV
2,405577aafdc6c17182fd16261c12ec46,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Leptotrichia
3,6e4faa85c839fbf0cf3c8890b6ed7ab6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Leptotrichia
4,dc517c15e03f5fff83dfc62bba73a838,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Leptotrichia
5,b2947ebd72e818522cd3e37035bc6dd5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Sneathia

In [76]:
# move genus to the front
genus_column = df.pop("Genus")
genus_column

0       Lineage_IV
2     Leptotrichia
3     Leptotrichia
4     Leptotrichia
5         Sneathia
6         Sneathia
7         Sneathia
8         Sneathia
9         Sneathia
10        Sneathia
11    Leptotrichia
12    Leptotrichia
Name: Genus, dtype: object

In [105]:
import re
name = [file.split("\\")[1].split(".")[0] for file in files]
i = 0
rename = {}
with open(f"../{name[1]}/manifest.tsv", "r") as file:
    for line in file:
        if i < 1:
            line = line.strip("\n")
            line = line.split("\t")
            line[1] = re.sub(r".+\/", "", line[1])
            line[1] = re.sub(r"\..+", "", line[1])

            rename[line[0]] = line[1]
            print(line)
            i += 1 
        else:
            break
print(rename)

['sample-id', 'absolute-filepath', '']
['sample-1', 'ERR165924']
['sample-2', 'ERR165925']
{'sample-id': 'absolute-filepath', 'sample-1': 'ERR165924', 'sample-2': 'ERR165925'}

In [98]:

txt = "The rain in Spain"
x = re.search(r'\bS\w+', txt)
print(x.string)

The rain in Spain

In [106]:
name = [file.split("\\")[1].split(".")[0] for file in files]
print
# columns = [column+"_"+name[1] for column in list(df.columns)]
# print(columns)

rename = {}
for i in range(len(list(df.columns))):
    rename[list(df.columns)[i]] = list(df.columns)[i]+"_"+name[1]

rename

{'#OTU ID': '#OTU ID_PRJEB3250',
 'sample-1': 'sample-1_PRJEB3250',
 'sample-40': 'sample-40_PRJEB3250',
 'sample-41': 'sample-41_PRJEB3250',
 'sample-4442': 'sample-4442_PRJEB3250',
 'sample-43': 'sample-43_PRJEB3250',
 'sample-44': 'sample-44_PRJEB3250',
 'sample-45': 'sample-45_PRJEB3250',
 'sample-46': 'sample-46_PRJEB3250',
 'sample-47': 'sample-47_PRJEB3250',
 'sample-48': 'sample-48_PRJEB3250',
 'sample-49': 'sample-49_PRJEB3250',
 'sample-5': 'sample-5_PRJEB3250',
 'sample-50': 'sample-50_PRJEB3250',
 'sample-51': 'sample-51_PRJEB3250',
 'sample-52': 'sample-52_PRJEB3250',
 'sample-53': 'sample-53_PRJEB3250',
 'sample-54': 'sample-54_PRJEB3250',
 'sample-55': 'sample-55_PRJEB3250',
 'sample-56': 'sample-56_PRJEB3250',
 'sample-57': 'sample-57_PRJEB3250',
 'sample-58': 'sample-58_PRJEB3250',
 'sample-59': 'sample-59_PRJEB3250',
 'sample-6': 'sample-6_PRJEB3250',
 'sample-60': 'sample-60_PRJEB3250',
 'sample-61': 'sample-61_PRJEB3250',
 'sample-62': 'sample-62_PRJEB3250',
 'sample-63': 'sample-63_PRJEB3250',
 'sample-64': 'sample-64_PRJEB3250',
 'sample-65': 'sample-65_PRJEB3250',
 'sample-66': 'sample-66_PRJEB3250',
 'sample-67': 'sample-67_PRJEB3250',
 'sample-68': 'sample-68_PRJEB3250',
 'sample-69': 'sample-69_PRJEB3250',
 'sample-7': 'sample-7_PRJEB3250',
 'sample-70': 'sample-70_PRJEB3250',
 'sample-71': 'sample-71_PRJEB3250',
 'sample-72': 'sample-72_PRJEB3250',
 'sample-73': 'sample-73_PRJEB3250',
 'sample-74': 'sample-74_PRJEB3250',
 'sample-75': 'sample-75_PRJEB3250',
 'sample-76': 'sample-76_PRJEB3250',
 'sample-77': 'sample-77_PRJEB3250',
 'sample-78': 'sample-78_PRJEB3250',
 'sample-79': 'sample-79_PRJEB3250',
 'sample-8': 'sample-8_PRJEB3250',
 'sample-80': 'sample-80_PRJEB3250',
 'sample-81': 'sample-81_PRJEB3250',
 'sample-94': 'sample-94_PRJEB3250',
 'sample-95': 'sample-95_PRJEB3250',
 'sample-96': 'sample-96_PRJEB3250',
 'sample-97': 'sample-97_PRJEB3250',
 'sample-98': 'sample-98_PRJEB3250',
 'sample-99': 'sample-99_PRJEB3250'}

In [23]:
name[1]

'PRJEB3250'

In [57]:
df = df.rename(columns=rename)
df.head(n=3)

,#OTU ID_PRJEB3250,sample-1_PRJEB3250,sample-40_PRJEB3250,sample-41_PRJEB3250,sample-4442_PRJEB3250,sample-43_PRJEB3250,sample-44_PRJEB3250,sample-45_PRJEB3250,sample-46_PRJEB3250,sample-47_PRJEB3250,...,sample-79_PRJEB3250,sample-8_PRJEB3250,sample-80_PRJEB3250,sample-81_PRJEB3250,sample-94_PRJEB3250,sample-95_PRJEB3250,sample-96_PRJEB3250,sample-97_PRJEB3250,sample-98_PRJEB3250,sample-99_PRJEB3250
0,4bce09e6a053c7e157359041a1553572,0,0,0,0,0,0,0,0,0,...,0,0,6,0,0,0,0,0,0,0
2,405577aafdc6c17182fd16261c12ec46,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6e4faa85c839fbf0cf3c8890b6ed7ab6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
# df.pop("#OTU ID")
df.insert(0,"Genus", genus_column)

In [63]:
group_df = df.groupby("Genus", as_index=False).sum()

In [64]:
group_df

,Genus,#OTU ID_PRJEB3250,sample-1_PRJEB3250,sample-40_PRJEB3250,sample-41_PRJEB3250,sample-4442_PRJEB3250,sample-43_PRJEB3250,sample-44_PRJEB3250,sample-45_PRJEB3250,sample-46_PRJEB3250,...,sample-79_PRJEB3250,sample-8_PRJEB3250,sample-80_PRJEB3250,sample-81_PRJEB3250,sample-94_PRJEB3250,sample-95_PRJEB3250,sample-96_PRJEB3250,sample-97_PRJEB3250,sample-98_PRJEB3250,sample-99_PRJEB3250
0,Leptotrichia,405577aafdc6c17182fd16261c12ec466e4faa85c839fb...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Lineage_IV,4bce09e6a053c7e157359041a1553572,0,0,0,0,0,0,0,0,...,0,0,6,0,0,0,0,0,0,0
2,Sneathia,b2947ebd72e818522cd3e37035bc6dd51042d4c630de74...,14,0,16,0,0,0,0,0,...,0,0,0,0,0,0,0,8,0,0

In [65]:
group_df.reset_index()

,index,Genus,#OTU ID_PRJEB3250,sample-1_PRJEB3250,sample-40_PRJEB3250,sample-41_PRJEB3250,sample-4442_PRJEB3250,sample-43_PRJEB3250,sample-44_PRJEB3250,sample-45_PRJEB3250,...,sample-79_PRJEB3250,sample-8_PRJEB3250,sample-80_PRJEB3250,sample-81_PRJEB3250,sample-94_PRJEB3250,sample-95_PRJEB3250,sample-96_PRJEB3250,sample-97_PRJEB3250,sample-98_PRJEB3250,sample-99_PRJEB3250
0,0,Leptotrichia,405577aafdc6c17182fd16261c12ec466e4faa85c839fb...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,Lineage_IV,4bce09e6a053c7e157359041a1553572,0,0,0,0,0,0,0,...,0,0,6,0,0,0,0,0,0,0
2,2,Sneathia,b2947ebd72e818522cd3e37035bc6dd51042d4c630de74...,14,0,16,0,0,0,0,...,0,0,0,0,0,0,0,8,0,0

In [41]:
## files look like: '../csv_files\\PRJEB3250.txt'
# name = [file.split("\\")[1].split(".")[0] for file in files]


df.to_csv(f'../csv_files/single_{name[1]}.csv', index=False)
name

['combine', 'PRJEB3250', 'single_PRJNA834026']